@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        font-size: 62.5%; /* Make 1rem = 10px */
    }

    html,
    body {
        /* Ensure that html and body occupy full height and width of viewport */
        height: 100%;
        width: 100%;
        overflow-x: hidden; /* Hides any content that exceed viewport dimension - no scrolling */
    }

    body {
        font-family: 'Manrope', sans-serif;
        @apply text-dark-purple
    }

    h1, h2, h3 {
        font-family: 'Fraunces', serif;
        line-height: 8rem;
        font-weight: 600;
    }

    p {
        line-height: 3.2rem;
        font-weight: 400;
    }

}

@layer components {
    .bottom-curve {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .bottom-curve svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 14rem;
    }

    .bottom-curve .shape-fill {
        fill: #ffffff;
    }
}